{% extends 'layouts/base.html' %}


{% block title %}
Contact Us
{% endblock %}




{% block body %}
     <div class = "container mt-5 " > 
        <div class = "row">
          <h1 class="text-center mb-5">Contact me On</h1>
          <div class='col-2 '>
            <a href=""><i class="fa-brands fa-facebook fa-beat fa-2xl text-dark "></i></a>
          </div>
          <div class='col-2'>
            <a href=""><i class="fa-brands fa-facebook-messenger fa-bounce fa-2xl text-dark"></i></a >
          </div>
          <div class='col-2'>
            <a href=""><i class="fa-brands fa-whatsapp fa-fade fa-2xl text-dark"></i></a>
          </div>
          <div class='col-2'>
            <a href=""><i class="fa-brands fa-instagram fa-flip fa-2xl text-dark"></i></a>
          </div>
          <div class='col-2'>
            <a href=""><i class="fa-brands fa-twitter fa-shake fa-2xl text-dark"></i></a >
          </div>
          <div class='col-2'>
            <a href=""><i class="fa-brands fa-github fa-spin fa-2xl text-dark"></i></a>
          </div>      
            
        </div>

     </div>
         
     {% endblock %}